@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--font-size-base);
  height: 100vh;
  margin-block-start: 50px;
  background-color: hsl(30, 38%, 92%);


  
}
/* setting to max-width to create a consistent layout and help 
maintain responsiveness across screen sizes*/
.entirebody{
  max-width: 1440px;
  width: 100%;
}
.design {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;  
}
.firstimg{
  height: 550px;
  width: 400px;
}
.destopimg{
  height: 100%;
  width: 100%;
  border-radius: 12px 0 0 12px;
}
.secondimg{
  display: none;
}

.card {
  border: 5px solid white;
  max-height: 550px;
  max-width: 400px;
  width: 100%;
  border-radius: 0 12px 12px 0;
  background-color: white;
}
.text{
  padding-left: 40px;
}
.firstp {
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 18px;
  color: hsl(228, 12%, 48%);
  margin-block-start: 24px;
}
h1 {
  font-size: 55px;
  font-family: "fraunces", serif;
  font: weight 700;
  margin-block-start: 15px;
  line-height: 2.8rem;
  color: hsl(240, 1%, 23%);
}
.secondp {
  margin-block-start: 25px;
  font-family: "Montserrat", sans-serif;
  line-height: 2.2rem;
  font-size: 20px;
  color: hsl(228, 12%, 48%);
  font-weight: 400;
}

.amount {
  margin-block-start: 23px;
  font-size: 40px;
  font-family:"fraunces";
  color: hsl(158, 36%, 37%);
  position: relative;
  font-weight: 700;
}

s{
  margin-inline-start: 20px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 200;
  color: hsl(228, 12%, 48%);
  position: absolute;
  top:12px;
}
button {
  margin-block-start: 25px;
  height: 55px;
  width: 300px;
  border-radius: 10px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid hsl(158, 36%, 37%);
  transition: transform, 0.1s;
}
button:hover{
  cursor: pointer;
  transform: translateX(-5px);
}
               

/* The add to cart writeup */
.btncart {
  margin-inline-start: 10px;
}
footer {
  width: 400px;
  margin: 100px auto;
  font-size: 12px;
  font-family: "fraunces", serif;
  font-weight: 700;
}
.attribution{
  margin-block-start: -80px;
  
}
/* Tablet size 820px*/
@media (max-width:820px){
  .design {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:100%;
    margin: auto;  
    width: 100%;
  }
  .firstimg{
    height: 450px;
    width:300px;
  }
  .destopimg{
    height: 100%;
    width: 100%;
    border-radius: 12px 0 0 12px;
  }
  .secondimg{
    display: none;
  }
  
  .card {
    border: 5px solid white;
    height: 450px;
    max-width: 300px;
    width: 100%;
    border-radius: 0 12px 12px 0;
    background-color: white;
  }
  .text{
    padding-left: 20px;
  }
  .firstp {
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    margin-block-start: 20px;
  }
  h1 {
    font-size: 35.5px;
    font-family: "fraunces", serif;
    font: weight 700;
    margin-block-start: 15px;
    line-height: 2.3rem;
    color: hsl(240, 1%, 23%);
  }
  .secondp {
    margin-block-start: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7rem;
    font-size: 15.5px;
    color: hsl(228, 12%, 48%);
    font-weight: 400;
  }
  
  .amount {
    margin-block-start: 17px;
    font-size: 35px;
    font-family:"fraunces";
    color: hsl(158, 36%, 37%);
    position: relative;
    font-weight: 700;
  }
  
  s{
    margin-inline-start: 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 200;
    color: hsl(228, 12%, 48%);
    position: absolute;
    top:12px;
  }
  button {
    margin-block-start: 17px;
    height: 45px;
    width: 250px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid hsl(158, 36%, 37%);
  }
  .attribution{
    margin-block-start: -80px;
  }
}
/* Mobile Media query */
@media (max-width:620px){
  body{
    background-color: hsl(30, 38%, 92%);

  }
  .design {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:800px;
    margin: auto;  
    width: 100%;
  }
  .firstimg{
    display: none;
    
  }
  /* the display inline block made the image appear from its hiding place */
  .secondimg{
    height: 300px;
    width:370px;
    display: inline-block; 
  }
  .mobileimg{
    height: 100%;
    width: 100%;
    border-radius: 12px 12px 0 0 ;
  }
  .card {
    border: 5px solid white;
    height: 420px;
    max-width: 370px;
    width: 100%;
    border-radius: 0 0 12px 12px;
    background-color: white;
  }
  .text{
    padding-left: 15px;
  }
  .firstp {
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 6px;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    margin-block-start: 20px;
  }
  h1 {
    font-size: 35px;
    font-family: "fraunces", serif;
    font: weight 700;
    margin-block-start: 15px;
    line-height: 2.3rem;
    color: hsl(240, 1%, 23%);
  }
  .secondp {
    margin-block-start: 12px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7rem;
    font-size: 15.5px;
    padding: 10px;
    color: hsl(228, 12%, 48%);
    font-weight: 400;
  }
  .amount {
    margin-block-start: 10px;
    margin-inline-start: 10px;
    font-size: 35px;
    font-family:"fraunces";
    color: hsl(158, 36%, 37%);
    position: relative;
    font-weight: 700;
  }
  
  s{
    margin-inline-start: 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 200;
    color: hsl(228, 12%, 48%);
    position: absolute;
    top:12px;
  }
  button {
    margin-block-start: 15px;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: none;
    padding: 0 0 0 50px;
  }
  
  .attribution{
    margin-block-start: -100px;
    
  }
}